################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs
/LothiumDB/bin
/LothiumDB/obj
/LothiumDB.Tests/obj
/LothiumDB.Tests/bin/Debug/net7.0
/LothiumDB.Tests/bin/Release/net6.0
/LothiumDB.Tests/bin/Debug/net6.0
LothiumDB/.DS_Store
.DS_Store
.idea/.idea.LothiumDB/.idea/encodings.xml
.idea/.idea.LothiumDB/.idea/indexLayout.xml
.idea/.idea.LothiumDB/.idea/vcs.xml
/LothiumDB.sln.DotSettings
