################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs
/LothiumDB/bin
/LothiumDB/obj
/LothiumDB.Tests/obj
/LothiumDB.Tests/bin/Debug/net7.0
/LothiumDB.Tests/bin/Release/net6.0
/LothiumDB.Tests/bin/Debug/net6.0
LothiumDB/.DS_Store
.DS_Store
.idea/.idea.LothiumDB/.idea/encodings.xml
.idea/.idea.LothiumDB/.idea/indexLayout.xml
.idea/.idea.LothiumDB/.idea/vcs.xml
/LothiumDB.sln.DotSettings
LothiumDB.Tests/bin/Debug/net8.0/BouncyCastle.Cryptography.dll
LothiumDB.Tests/bin/Debug/net8.0/Google.Protobuf.dll
LothiumDB.Tests/bin/Debug/net8.0/K4os.Compression.LZ4.dll
LothiumDB.Tests/bin/Debug/net8.0/K4os.Compression.LZ4.Streams.dll
LothiumDB.Tests/bin/Debug/net8.0/K4os.Hash.xxHash.dll
LothiumDB.Tests/bin/Debug/net8.0/LothiumDB.dll
LothiumDB.Tests/bin/Debug/net8.0/LothiumDB.pdb
LothiumDB.Tests/bin/Debug/net8.0/LothiumDB.Tests.deps.json
LothiumDB.Tests/bin/Debug/net8.0/LothiumDB.Tests.dll
LothiumDB.Tests/bin/Debug/net8.0/LothiumDB.Tests.exe
LothiumDB.Tests/bin/Debug/net8.0/LothiumDB.Tests.pdb
LothiumDB.Tests/bin/Debug/net8.0/LothiumDB.Tests.runtimeconfig.json
LothiumDB.Tests/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
LothiumDB.Tests/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
LothiumDB.Tests/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
LothiumDB.Tests/bin/Debug/net8.0/MySql.Data.dll
LothiumDB.Tests/bin/Debug/net8.0/Npgsql.dll
LothiumDB.Tests/bin/Debug/net8.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
LothiumDB.Tests/bin/Debug/net8.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
LothiumDB.Tests/bin/Debug/net8.0/runtimes/win-arm64/native/sni.dll
LothiumDB.Tests/bin/Debug/net8.0/runtimes/win-x64/native/comerr64.dll
LothiumDB.Tests/bin/Debug/net8.0/runtimes/win-x64/native/gssapi64.dll
LothiumDB.Tests/bin/Debug/net8.0/runtimes/win-x64/native/k5sprt64.dll
LothiumDB.Tests/bin/Debug/net8.0/runtimes/win-x64/native/krb5_64.dll
LothiumDB.Tests/bin/Debug/net8.0/runtimes/win-x64/native/krbcc64.dll
LothiumDB.Tests/bin/Debug/net8.0/runtimes/win-x64/native/sni.dll
LothiumDB.Tests/bin/Debug/net8.0/runtimes/win-x86/native/sni.dll
LothiumDB.Tests/bin/Debug/net8.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
LothiumDB.Tests/bin/Debug/net8.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
LothiumDB.Tests/bin/Debug/net8.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
LothiumDB.Tests/bin/Debug/net8.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
LothiumDB.Tests/bin/Debug/net8.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
LothiumDB.Tests/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
LothiumDB.Tests/bin/Debug/net8.0/System.Data.SqlClient.dll
LothiumDB.Tests/bin/Debug/net8.0/System.Drawing.Common.dll
LothiumDB.Tests/bin/Debug/net8.0/System.IO.Pipelines.dll
LothiumDB.Tests/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
LothiumDB.Tests/bin/Debug/net8.0/System.Security.Permissions.dll
LothiumDB.Tests/bin/Debug/net8.0/System.Windows.Extensions.dll
LothiumDB.Tests/bin/Debug/net8.0/ZstdSharp.dll
